@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&family=Oxygen:wght@300&family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-size: 16px;
  font-family: Libre Franklin, sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

/* Main Title and Navigation Menu */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: white;
  background-color: #0D1321;

  font-family: Roboto, sans-serif;
  padding: 15px;
}

h1 {
  font-size: 250%;
  margin-left: 2.5%
}

#nav-menu {
  width: 30%;
  text-align: center;
}

#nav-menu li {
  display: inline-block;
  list-style-type: none;
  font-size: 120%;
  margin-right: 5%;
}