@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&family=Oxygen:wght@300&family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-size: 16px;
  font-family: Libre Franklin, sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

/* Main Title and Navigation Menu */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: white;
  background-color: #111318;

  font-family: Roboto, sans-serif;
  padding: 15px;
}

h1 {
  font-size: 250%;
  margin-left: 2.5%
}

#nav-menu {
  width: 30%;
  text-align: center;
}

#nav-menu li {
  display: inline-block;
  list-style-type: none;
  font-size: 120%;
  margin-right: 5%;
}

/* Hover transition for navigation menu */

#nav-menu li a {
  border-bottom: 1px solid #0D1321;
  transition: all 0.6s ease 0s;
}

#nav-menu li a:hover {
  border-bottom: 1px solid #ffffff;
}

/* Hero image with text overlay */

#hero-image {
  width: 100%;
  height: 400px;

  background: url("../images/pizza-banner.jpg") no-repeat center;
  background-size: cover;

  color: white;
}

#text-overlay {
  width: 50%;
  height: 400px;
  background-color: rgba(102, 97, 97, 0.6);
}

#text-overlay > h2 {
  font-family: Oxygen, sans-serif;
  font-size: 200%;
  padding: 20px 50px;
}

#text-overlay > p {
  font-size: 120%;
  padding: 0px 50px;
}

/* Style for enquiries button */

#enquiries-button {
  width: 150px;
  height: 30px;
  margin: 0 50px;

  font-family: Roboto, sans-serif;
  font-size: 110%;
  font-weight: 900;

  background-color: #e4dada;
  color: #0D1321; 

  border: 2px solid #0D1321;
  border-radius: 5px;

  transition: all 0.6s ease 0s;
}
  
#enquiries-button:hover {
  background-color: transparent;
  color: #e4dada; 
  border: 2px solid #e4dada;
  cursor: pointer;
}

/* About us section */

#about-section {
  position: relative;
  height: 500px;
  font-family: montserrat, sans-serif;
  background-image: linear-gradient(180deg, #f8f7f7 80%, #1B2F33 20%);
 
}

#about-panel {
  position: absolute;
  background-color: white;
  
  width: 70%;
  height: 500px;
  margin: 0 auto;
  

  left: 15%;
  bottom: 50px;

}

#about-panel h2 {
  border-bottom: 1px solid black;
  width: 50%;
  margin: 20px 15%;
}

#about-panel p {
  width: 70%;
  margin: 0 auto;
  padding: 10px 0;
  font-family: Libre Franklin, sans-serif;
}

#container {
  display: flex;
  justify-content: center;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;

  margin: 5px 10px;
  
  display: inline;
  overflow: hidden;
}

.circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Menu section */

* {
  margin: 0;
  padding: 0;
  border: none;
}

#menu-section {
  background-color: #c9d2dd;
  height: 600px;
  display: flex;
}

.menu-left {
  width: 50%;  
  padding: 50px;
  grid-gap: 20px;
  background-color: #c9d2dd;

  
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "a b"
    "c c";
}

.menu-right {
  width: 50%;
  height: 600px;
  background-color: #c9d2dd;
  justify-content: space-around;
  align-items: center;
  display: flex;
}

#menu-img-1 {
  grid-area: a;
  background: url("../images/gnocchi.jpeg") center no-repeat;
  background-size: cover;
}

#menu-img-2 {
  grid-area: b;
  background: url("../images/risotto.jpeg") center no-repeat;
  background-size: cover;
}

#menu-img-3 {
  grid-area: c;
  background: url("../images/pizza-2.jpeg") center no-repeat;
  background-size: cover;
}

.menu-column {
  width: 40%;
  height: 500px;
  background-color: white;
}

/* Media queries for tablet screen sizes (800px width and below) */

@media screen and (max-width: 800px) {

  h1 {
    font-size: 150%;
  }

  #nav-menu {
    width: 50%;
    text-align: end;
  }

  #nav-menu li {
    font-size: 100%;
  }

  #hero-image {
    height: 400px;
  }  

  #text-overlay {
    width: 100%;
    height: 400px;
  }
  
  #text-overlay > h2 {
    font-size: 150%;
    padding: 10px 30px;
  }
  
  #text-overlay > p {
    font-size: 100%;
    padding: 0 30px;
  }

  #enquiries-button {
    margin: 0 30px;
  }

}

/* Media queries for mobile device screen sizes (450px width and below) */

@media screen and (max-width: 450px) {

  header {
    display: block;
  }
  
  h1 {
    display: block;
    text-align: center;
    margin: 10px auto;
    width: 100%;
  }

  #nav-menu {
    display: block;
    text-align: center;
    width: 100%;
  }

  #nav-menu li {
    margin: 0 1.5%;
  }

  #text-overlay > h2 {
    font-size: 120%;
    text-align: center;
  }

  #text-overlay > p {
    padding: 0 40px;
  }

  #enquiries-button {
    margin: 0 40px;
  }

}  