@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&family=Oxygen:wght@300;400&family=Roboto:wght@300;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-size: 16px;
  font-family: Oxygen, sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

/* Main Title and Navigation Menu */

header {
  font-family: Roboto, sans-serif;
  color: white;
  text-align: center;
  background-color: #111318;
  padding: 15px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  width: 50%;
  font-size: 300%;
  margin-left: 25%;
}

#nav-menu {
  width: 30%;
  margin-right: 2.5%;
  text-align: end;
}

#nav-menu li {
  font-size: 130%;
  margin-left: 5%;
  list-style-type: none;
  display: inline-block;
}

/* Hover transition for navigation menu */

#nav-menu li a {
  border-bottom: 1px solid #0D1321;
  transition: all 0.6s ease 0s;
}

#nav-menu li a:hover {
  border-bottom: 1px solid #ffffff;
}

/* Hero image with text overlay */

#hero-image {
  color: white;
  width: 100%;
  height: 400px;

  background: url("../images/hero-pizza.jpg") no-repeat 50% 75%;
  background-size: cover;
}

#text-overlay {
  width: 30%;
  height: 400px;
}

#text-overlay > h2 {
  font-size: 400%;

  width: 70%;
  margin: 0 auto;

  padding-top: 25px;
}

#text-overlay > p {
  width: 70%;
  margin: 0 auto;
  font-size: 120%;
}

/* Style for enquiries button */

#enquiries-button {
  font-family: Montserrat, sans-serif;
  font-size: 110%;

  width: 150px;
  height: 30px;
  margin: 10px 15%;;

  background-color: #f5f0f0;
  color: #0D1321; 

  border: 2px solid #0D1321;
  border-radius: 5px;

  transition: all 0.6s ease 0s;
}
  
#enquiries-button:hover {
  background-color: transparent;
  color: #f5f0f0; 
  border: 2px solid #f5f0f0;
  cursor: pointer;
}


/* About us section */

#about-section {
  height: 500px;
  background-image: linear-gradient(180deg, #e4e3e3 80%, #1B2F33 20%);
  position: relative;
}

#about-panel {
  width: 60%;
  height: 550px;
  background-color: white;

  left: 20%;
  bottom: 50px;
  position: absolute;
}

#panel-content {
  width: 100%;
  height: 100%;
}

#about-section h2 {
  font-family: Roboto, sans-serif;
  width: 50%;
  margin: 20px 5% 10px 5%;
  border-bottom: 1px solid black;
}

#about-section p {
  width: 90%;
  margin: 0 auto;
  padding: 10px 0;
}

#image-container {
  width: 90%;
  height: 40%;
  margin: 0 auto; 

  border-top: 1px solid black;

  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.about-image {
  width: 30%;
  height: 80%;
  margin: auto 0;
}

.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Menu - Left side of section */

#menu-section {
  background-color: #c9d2dd;
  height: 600px;
  display: flex;
  position: relative;
}

#menu-section h2 {
    font-family: Montserrat, sans-serif;
    text-align: center;
    width: 10%;
    border-bottom: 1px solid black;

    margin-top: 10px;
    
    position: absolute;
    left: 71.5%;
  }

.menu-left {
  width: 50%;  
  padding: 50px;
  grid-gap: 20px;

  
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "a b"
    "c c";
}

#menu-img-1 {
  background: url("../images/gnocchi.jpeg") center no-repeat;
  background-size: cover;
  grid-area: a;
}

#menu-img-2 {
  background: url("../images/risotto.jpeg") center no-repeat;
  background-size: cover;
  grid-area: b;
}

#menu-img-3 {
  background: url("../images/pizza-2.jpeg") center no-repeat;
  background-size: cover;
  grid-area: c;
}

/* Menu - Right side of section */


.menu-right {
  width: 50%;
  height: 600px;
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  
} 

.menu-column {
  width: 35%;
  height: 500px;
  text-align: center;
}

.menu-column h3 {
  width: 50%;
  margin: 0 auto;
  border-bottom: 1px solid #0D1321;
}

.menu-column h3, .menu-column h4 {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  color: #162427;
}

.menu-column p {
  margin: 0px 20px 25px 20px;
}

/* Media queries for smaller desktop/laptop screen sizes (1380px width and below) 
(Principally for text in right side of menu)  */


@media screen and (max-width: 1380px) {

  .menu-column {
    width: 50%;
  }

}

/* Media queries for tablet screen sizes (1060px width and below) */

@media screen and (max-width: 1060px) {

  h1 {
    font-size: 200%;
  }

  #nav-menu {
    width: 25%;
  }

  #nav-menu li {
    font-size: 100%;
  }

  #text-overlay {
    width: 100%;
    text-align: center;
  }
  
  #text-overlay > h2 {
    font-size: 250%;
    padding-top: 30px;
  }

  #about-panel {
    width: 80%;
    left: 10%;
  }

  #menu-section {
   height: 1000px;
   display: block;
  }
 
  #menu-section h2 { 
    width: 20%;
    left: 40%;
  }

 .menu-left {
   width: 80%;
   height: 400px;
   margin: 0 auto;
   padding: 60px 0 0 0;
 }
 
 .menu-right {
   width: 90%;
   margin: 0 auto;
 }

}

/* Media queries for lower resolution tablet screen sizes (804px width and below) */
 
@media screen and (max-width: 804px) {
  header {
    display: block;
  }
  
  h1 {
    width: 100%;
    text-align: center;
    margin: 10px auto;
  }
  
  #nav-menu {
    width: 100%;
    margin: 0 auto;
  }

  #nav-menu ul {
    text-align: center;
  }
  
  #nav-menu li {
    margin: 0 1.5%;
  }

  #text-overlay h2 {
    padding-top: 50px;
  }

  #about-panel {
    border: 1px solid #111318;  
  }

  #panel-content {
    background-color: #e4e3e3;
    border: 1px dashed #1B2F33;
    width: 90%;
    height: 90%;
    
    margin: 27.5px auto;
  }

  #panel-content h2 {
    margin: 20px auto 10px auto;
    text-align: center;
  }

  #panel-content p {
    margin: 4% auto;
    text-align: center;
    font-weight: 500;
  }

  #image-container {
    display: none;
  }

  .menu-right {
    align-items: flex-start;
  }

  .menu-right h3 {
    margin-top: 10%;
  }

}

/* Media queries for larger mobile device screen sizes (509px width and below) */

@media screen and (max-width: 509px) {

  #nav-menu li {
    margin: 0 5%;
  }
  
  #text-overlay p {
    width: 90%;
  }

  /* Hides text above button */
  #text-overlay p ~ p {
    display: none;
  }

  #about-panel {
    width: 100%;
    left: 0;

    bottom: 25px;

    border: none;
  }

  #panel-content h2 {
    margin: 5% auto;
  }

  #panel-content p {
    margin: 2% auto;
  }

}  
